.footer{
    background-color: rgb(3, 16, 94);
    padding: 20px;
    color: white;
    p{
        font-size: 20px;
        margin: 10px;
    }
    a{
        text-decoration: none;
        padding: 10px;
        .iconos{
                width: 50px;
                height: 50px;
            }
    }
}